<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @source.name %>
</p>

<p>
  <strong>Slogan:</strong>
  <%= @source.slogan %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= link_to 'Download Avatar', @source.avatar.url %>
</p>

<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
