<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= I18n.t('devise.mailer.reset_password_instructions.greeting', :recipient => @resource.email) %></p>

    <p><%= I18n.t('devise.mailer.reset_password_instructions.instruction', :expire => User.reset_password_within.to_i / 3600) %></p>

    <p><%= link_to I18n.t('devise.mailer.reset_password_instructions.action'), CONFIG['checkdesk_client'] + '/check/user/password-change?reset_password_token=' + @token %></p>

    <p><%= t('devise.mailer.reset_password_instructions.instruction_2') %></p>
    <p><%= t('devise.mailer.reset_password_instructions.instruction_3') %></p>
  </body>
</html>
