<% field_name = field.method_name.to_s %>
<div id="<%= field_name %>_editor_holder"></div>

<script>
  var starting_value = <%== @object.respond_to?(field_name) ? @object.send(field_name).to_json : @object.send("get_#{field_name}").to_json %>;
  var field_schema = "<%= @object.json_schema_url(field_name) %>";
  var editor =  new JSONEditor(document.getElementById("<%= field_name %>_editor_holder"),{
    ajax: true,
    theme: 'bootstrap2',
    show_errors: 'interaction',
    disable_properties: true,
    disable_edit_json: true,
    form_name_root: "team[<%= field.method_name.to_s %>]",
    schema: {
      "$ref": field_schema
    },
    startval: starting_value
  });
</script>
