<% field_name = field.method_name.to_s %>
<div id="<%= field_name %>_editor_holder"></div>
<% value = @object.respond_to?(field_name) ? @object.send(field_name) : @object.send("get_#{field_name}") %>

<script>
  var editor = new JSONEditor(document.getElementById("<%= field_name %>_editor_holder"), {
    ajax: true,
    required_by_default: true,
    disable_collapse: true,
    disable_array_reorder: true,
    theme: 'bootstrap2',
    show_errors: 'interaction',
    disable_properties: true,
    no_additional_properties: true,
    disable_edit_json: true,
    form_name_root: "team[<%= field.method_name.to_s %>]",
    schema: {
      "$ref": "<%= @object.json_schema_url(field_name) %>"
    },
    startval: <%== value.to_json %>
  });
</script>

<% if field_name === 'checklist' && value.is_a?(Array) && !value.size.zero? %>
  <a class="btn btn-default json-editor-btn-delete" href='<%= "/admin/team/#{@object.id}/delete_tasks"%>'>Delete All Tasks</a>
<% end %>
