<% if @abstract_models %>

<% dashboard_worthy_models = @abstract_models.select { |model| 
    model.model.name == "Account" || model.model.name == "Media" || model.model.name == "Project" || model.model.name == "User" || model.model.name == "Team" || model.model.name == "Annotation" || model.model.name == "Source" 
  } %>

  <div class="dashboard">
    <% dashboard_worthy_models.each do |abstract_model| %>
      <% if authorized? :index, abstract_model %>
        <% index_path = index_path(model_name: abstract_model.to_param) %>
        <div class="dashboard-item">
          <h3>
            <a href="<%=index_path %>">
              <%= @count[abstract_model.model.name] %>
            </a>
          </h3>
          <h4>
            <a href="<%=index_path %>">
              <%= link_to capitalize_first_letter(abstract_model.config.label_plural), index_path, class: 'pjax' %>
            </a>
          </h4>
          
          <p>
            <% last_created = @most_recent_created[abstract_model.model.name]%>
            <% active = last_created.try(:today?) %>
            
            <% if last_created %>
              <%= time_ago_in_words last_created %>
              <%= t "admin.misc.ago" %>
            <% end %>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>


<%#  
# - if @auditing_adapter && authorized?(:history_index)
#   #block-tables.block
#     .content
#       %h2= t("admin.actions.history_index.menu")
#       = render partial: 'rails_admin/main/dashboard_history'
%>