<%= form_for(@medium) do |f| %>
  <% if @medium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medium.errors.count, "error") %> prohibited this medium from being saved:</h2>

      <ul>
      <% @medium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>

  <div>
    <%= f.label 'Projects' %><br>
    <%= f.collection_select(:project_id, Project.all, :id, :title) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
