<p id="notice"><%= notice %></p>
<p>
  <strong>URL:</strong>
  <%= @medium.url %>
</p>
<p>
  <strong>Data:</strong>
  <%= @medium.data %>
</p>
<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Back', media_path %>
